@*******************************************************************************************************
//  DeviceGroups.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  03/02/2020 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Text
@using GSF.Security
@using GSF.Web.Model
@using GSF.Web.Shared.Model
@using openHistorian
@using openHistorian.Model
@inherits ExtendedTemplateBase<AppModel>
@section StyleSheets {
    <style>
        html, body {
            height: 100%;
        }
    </style>
}
@{
    if (ViewBag.PageControlScripts == null) {
        ViewBag.PageControlScripts = new StringBuilder();
    }

    DataContext dataContext = ViewBag.DataContext;
    StringBuilder pageControlScripts = ViewBag.PageControlScripts;

    Layout = "Layout.cshtml";
    ViewBag.Title = "Device Groups";
    ViewBag.SubTitle = "Allows creation of groups of devices, e.g., for a region";
    ViewBag.ShowSearchFilter = true;

    ViewBag.HeaderColumns = new[]
    {   //    { "Field", "Label", "Classes" }
        new[] { "Acronym", "Acronym", "text-left" },
        new[] { "Name", "Name", "text-left" },
        new[] { "OriginalSource", "<button type=\"button\" class=\"btn btn-link\" onclick=\"openDeviceGroupClassEditor()\" title=\"Click to edit available device group classes\">Class <small>(edit)</small></button>", "text-center" },
        new[] { null, "Devices", "text-center valign-middle" },
        new[] { null, "Enabled", "text-center valign-middle" }
    };

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.ParentKeys = Model.Global.NodeID.ToString();

    // Prepend view model validation extension scripts to occur before normal model initialization
    pageControlScripts.Insert(0, ExtendModelValidation().ToString().TrimStart());
}
@functions {
    public bool UserIsAdminOrEditor()
    {
        SecurityPrincipal securityPrincipal = ViewBag.SecurityPrincipal as SecurityPrincipal;
        return securityPrincipal != null && securityPrincipal.IsInRole("Administrator,Editor");
    }
}
@helper BodyRows()
{
    <td width="30%" class="text-left valign-middle"><button type="button" class="btn btn-link" data-bind="text: Acronym, click: $parent.viewPageRecord"></button></td>
    <td width="30%" class="text-left valign-middle" data-bind="text: Name"></td>
    <td width="10%" class="text-center valign-middle" data-bind="text: OriginalSource"></td>
    <td width="20%" class="text-center valign-middle"><button type="button" class="btn btn-default btn-sm" data-bind="click: openDeviceSelector.bind($data)" hub-dependent><span data-bind="attr: {id: 'deviceMode' + ID}">Add</span>&nbsp;&nbsp;<span class="badge" data-bind="text: getDeviceCount(ID), attr: {id: 'deviceCount' + ID}">0</span></button></td>
    <td width="5%" class="text-center valign-middle"><input type="checkbox" data-bind="checked: Enabled, click: enabledStateChanged.bind($data)" /></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.dataHubIsConnected"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    <div class="col-md-6">
        @*
        @Raw(dataContext.AddInputField<DeviceGroup>("ID", customDataBinding: "disable: true", groupDataBinding: "visible: $root.recordMode() !== RecordMode.AddNew"))
        @Raw(dataContext.AddInputField<DeviceGroup>("UniqueID", customDataBinding: "disable: true", groupDataBinding: "visible: $root.recordMode() !== RecordMode.AddNew"))
        *@
        @Raw(dataContext.AddInputField<DeviceGroup>("Acronym", initialFocus: true))
        @Raw(dataContext.AddInputField<DeviceGroup>("Name"))
        @Raw(dataContext.AddSelectField<DeviceGroup, Company>("CompanyID", "ID", "Acronym"))
        @Raw(dataContext.AddSelectField<DeviceGroup, Interconnection>("InterconnectionID", "ID", "Acronym"))
    </div>
    <div class="col-md-6">
        @Raw(dataContext.AddSelectField<DeviceGroup, DeviceGroupClass>("OriginalSource", "Acronym", "Name", allowUnset: true, addEmptyRow: true))
        @Raw(dataContext.AddInputField<DeviceGroup>("Longitude"))
        @Raw(dataContext.AddInputField<DeviceGroup>("Latitude"))
        @Raw(dataContext.AddInputField<DeviceGroup>("ContactList"))
        <div class="form-inline pull-right">
            @Raw(dataContext.AddCheckBoxField<DeviceGroup>("Enabled"))
        </div>
    </div>
}
@helper ExtendModelValidation()
{
    <script>
        var phasorHub, phasorHubClient;

        $(function () {
            // Connect to phasor hub
            phasorHub = $.connection.phasorHub.server;
            phasorHubClient = $.connection.phasorHub.client;

            // Create hub client functions for message control
            function encodeInfoMessage(message, timeout) {
                // Html encode message
                const encodedMessage = $("<div />").text(message).html();
                showInfoMessage(encodedMessage, timeout, true);
            }

            function encodeErrorMessage(message, timeout) {
                // Html encode message
                const encodedMessage = $("<div />").text(message).html();
                showErrorMessage(encodedMessage, timeout, true);
            }

            // Register info and error message handlers for hub client
            phasorHubClient.sendInfoMessage = encodeInfoMessage;
            phasorHubClient.sendErrorMessage = encodeErrorMessage;
        });

        $(window).on("beforeApplyBindings", function () {
            // Define local rule that will check that device group acronym is unique in the database
            ko.validation.rules["deviceUniqueInDatabase"] = {
                async: true,
                validator: function (newVal, options, callback) {
                    if (phasorHub) {
                        // Lookup Device record by Acronym - this will return an empty record if not found
                        phasorHub.queryDevice(newVal).done(function (device) {
                            // Valid if device doesn't exist or is itself
                            callback(device.ID === 0 || notNull(device.Acronym).toLowerCase() === notNull(options).toLowerCase());
                        })
                            .fail(function (error) {
                                showErrorMessage(error);

                                // Do not display validation failure message for connection issues
                                callback(true);
                            });
                    }
                    else {
                        callback(true);
                    }
                },
                message: "This device acronym already exists in the database. Acronyms must be unique."
            };

            ko.bindingHandlers.selectOnError = {
                init: function (element, valueAccessor) {
                    $(element).on("input", function (event) {
                        setTimeout(function () {
                            if (!valueAccessor().isValid())
                                element.select();
                        }, 1);
                    });
                }
            }

            // Enable knockout validation
            ko.validation.init({
                registerExtenders: true,
                messagesOnModified: true,
                insertMessages: true,
                parseInputAttributes: true,
                allowHtmlMessages: true,
                messageTemplate: null,
                decorateElement: true,
                errorElementClass: "has-error",
                errorMessageClass: "help-block",
                grouping: { deep: true, observable: true, live: true }
            }, true);

            // Enable deferred updates for better performance
            ko.options.deferUpdates = true;
        });
    </script>
}
@Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
<div id="editDevicesDialog" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="editDevicesFrame"></iframe>
                <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="editClassesDialog" class="modal fade" role="dialog">
    <div class="modal-vertical-align-container">
        <div class="modal-dialog modal-vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <iframe style="border: none" id="editClassesFrame"></iframe>
                    <button type="button" class="btn btn-default pull-right popup-ok-button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var modeledValidationParametersFunction;

        @Raw(dataContext.RenderViewModelConfiguration<DeviceGroup, DataHub>(ViewBag, "Acronym", null, Model.Global.NodeID))

        function getDeviceCount(deviceGroupID) {
            if (viewModel.dataHubIsConnected()) {
                dataHub.queryDeviceGroup("@Model.Global.NodeID", deviceGroupID).done(function(deviceGroup) {
                    if (notNull(deviceGroup.ConnectionString).length > 0) {
                        const settings = deviceGroup.ConnectionString.parseKeyValuePairs();
                        const deviceIDs = notNull(settings.get("deviceIDs"));
                        const count = deviceIDs.length > 0 ? deviceIDs.split(",").length : 0;
                        $("#deviceMode" + deviceGroupID).text(count > 0 ? "Edit" : "Add");
                        $("#deviceCount" + deviceGroupID).text(count);
                    }
                });
            }

            return "0";
        }

        $(window).resize(function() {
            $("#editDevicesFrame").attr("height", $("#contentWell").outerHeight(true) + "px");
            $("#editClassesFrame").attr("height", $("#contentWell").outerHeight(true) * .85 + "px");
        });

        function openDeviceSelector(record) {
            $("#editDevicesFrame").attr({
                "src": "SelectGroupDevices.cshtml?ID=" + record.ID + "&Acronym=" + encodeURIComponent(record.Acronym) + "&timestamp=" + Date.now(),
                "height": $("#contentWell").outerHeight(true) + "px",
                "width": "100%"
            });

            $("#editDevicesDialog").modal("show");
        }

        $("#editDevicesDialog").on("hidden.bs.modal", function () {
            // Refresh page counts after editing tasks
            viewModel.queryPageRecords();
        });

        var previousLastUpdatedOn;

        function openDeviceGroupClassEditor() {
            showInfoMessage("Loading device group class list editor...");

            dataHub.queryDeviceGroupClassLastUpdated().done(function (lastUpdatedOn) {
                previousLastUpdatedOn = new Date(lastUpdatedOn);

                $("#editClassesFrame").attr({
                    "src": "DeviceGroupClasses.cshtml",
                    "height": $("#contentWell").outerHeight(true) * .85 + "px",
                    "width": "100%"
                });

                $("#editClassesDialog").modal("show");
            });
        }

        $("#editClassesDialog").on("hidden.bs.modal", function () {
            dataHub.queryDeviceGroupClassLastUpdated().done(function (lastUpdatedOn) {
                // Reload page after class edit
                if (new Date(lastUpdatedOn) > previousLastUpdatedOn) {
                    showInfoMessage("Refreshing updated device group class list...");
                    location.reload();
                }
            });
        });

        $(function() {
            $("#editDevicesDialog").modal({ show: false, backdrop: "static", keyboard: false });
            $("#editClassesDialog").modal({ show: false, backdrop: "static", keyboard: false });

            modeledValidationParametersFunction = viewModel.applyValidationParameters;

            viewModel.setApplyValidationParameters(function () {
                modeledValidationParametersFunction();

                viewModel.currentRecord().Acronym.extend({
                    required: true,
                    deviceUniqueInDatabase: viewModel.currentRecord().Acronym()
                });
            });
        });

        function refreshEnabledState(record) {
            if (!hubIsConnected)
                return;

            if (record.Enabled)
                serviceHub.sendCommand("Initialize " + record.Acronym);
            else
                serviceHub.sendCommand("ReloadConfig");
        }

        function enabledStateChanged(record) {
            if (hubIsConnected) {
                record.Enable = !record.Enable;

                dataHub.updateDevice(record).done(function() {
                    viewModel.queryPageRecords();
                    refreshEnabledState(record);
                });
            }
        }

        $(viewModel).on("recordSaved", function(event, record, isNew) {
            refreshEnabledState(record);
        });

        $(viewModel).on("recordDeleted", function(event, record) {
            if (hubIsConnected)
                serviceHub.sendCommand("ReloadConfig");
        });
    </script>
}