@*******************************************************************************************************
//  OscEvents.cshtml - Gbtc
//
//  Copyright © 2021, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  11/23/2021 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Net.Http
@using System.Text
@using GSF.Data.Model
@using GSF.Web
@using GSF.Web.Model
@using GSF.Web.Shared
@using openHistorian
@using openHistorian.Model
@inherits ExtendedTemplateBase<AppModel>
@section StyleSheets {
    <style>
        html, body {
            height: 100%;
        }
    </style>
}
@{
    DataContext dataContext = ViewBag.DataContext;
    HttpRequestMessage request = ViewBag.Request;
    Dictionary<string, string> parameters = request.QueryParameters();

    string parameter;
    int parentID;

    if (!parameters.TryGetValue("parentID", out parameter) || !int.TryParse(parameter, out parentID)) {
        parentID = 0;
    }

    string parentSource = "N/A";

    if (parentID == 0) {
        parameters.TryGetValue("source", out parentSource);
    } else {
        TableOperations<OscEvents> oscEvents = dataContext.Table<OscEvents>();
        OscEvents parentRecord = oscEvents.QueryRecordWhere("ID = {0}", parentID);

        if (parentRecord != null) {
            parentSource = parentRecord.Source;
        }
    }

    Layout = "Layout.cshtml";
    ViewBag.Title = "Oscillation " + (parentID == 0 ? "Source" : "Other") + " Events";
    ViewBag.ShowSearchFilter = true;

    ViewBag.HeaderColumns = new[]
    {   //    { "Field", "Label", "Classes" }
        new[] { "Source", parentID == 0 ? "Source Locations" : "Other Location", "text-left" },
        new[] { "StartTime", "Start Time", "text-left" },
        new[] { "StopTime", "Stop Time", "text-left" },
        new[] { null, "Frequency", "text-left" },
        new[] { null, "Energy", "text-left" },
        new[] { null, parentID == 0 ? "Other Locations" : "Source Location", "text-center" }
    };

    ViewBag.BodyRows = BodyRows(parentID, parentSource).ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
}
@helper BodyRows(int parentID, string parentSource)
{
    <td width="20%" class="text-left valign-middle"><button type="button" class="btn btn-link btn-xs" data-bind="text: Source, click: downloadDetails.bind($data)"></button></td>
    <td width="20%" class="text-left valign-middle" data-bind="text: StartTime"></td>
    <td width="20%" class="text-left valign-middle" data-bind="text: StopTime"></td>
    <td width="12%" class="text-left valign-middle" data-bind="html: frequency($data)"></td>
    <td width="12%" class="text-left valign-middle" data-bind="html: magnitude($data)"></td>
    <td width="9%" class="text-center valign-middle">
        <button type="button" class="btn btn-link btn-xs" data-bind="click: openAssociated.bind($data)" hub-dependent>
        @if (parentID == 0) {
            <span class="badge" data-bind="html: getAssociatedCount(ID), attr: {id: 'associatedCount' + ID}">0 events</span>
        }
        else {
            @parentSource
        }
        </button>
    </td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: viewDashboard.bind($data), enable: $parent.dataHubIsConnected" title="View in Grafana"><span class="glyphicon glyphicon-dashboard"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected" title="Edit Notes..."><span class="glyphicon glyphicon-paperclip"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.dataHubIsConnected" title="Delete Record"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    <div class="row">
        <div class="col-md-6">
            @Raw(dataContext.AddInputField<OscEvents>("Source"))
        </div>
        <div class="col-md-3">
            @Raw(dataContext.AddInputField<OscEvents>("StartTime", "datetime"))
        </div>
        <div class="col-md-3">
            @Raw(dataContext.AddInputField<OscEvents>("StopTime", "datetime"))
        </div>
    </div>
    <div class="row">
        <hr style="margin:0 15px 15px 15px; border-top: 2px solid #ddd"/>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Raw(dataContext.AddInputField<OscEvents>("FrequencyBand1"))
            @Raw(dataContext.AddInputField<OscEvents>("FrequencyBand2"))
            @Raw(dataContext.AddInputField<OscEvents>("FrequencyBand3"))
            @Raw(dataContext.AddInputField<OscEvents>("FrequencyBand4"))
        </div>
        <div class="col-md-3">
            @Raw(dataContext.AddInputField<OscEvents>("MaximumMagnitudeBand1"))
            @Raw(dataContext.AddInputField<OscEvents>("MaximumMagnitudeBand2"))
            @Raw(dataContext.AddInputField<OscEvents>("MaximumMagnitudeBand3"))
            @Raw(dataContext.AddInputField<OscEvents>("MaximumMagnitudeBand4"))
        </div>
        <div class="col-md-3">
            @Raw(dataContext.AddInputField<OscEvents>("AverageMagnitudeBand1"))
            @Raw(dataContext.AddInputField<OscEvents>("AverageMagnitudeBand2"))
            @Raw(dataContext.AddInputField<OscEvents>("AverageMagnitudeBand3"))
            @Raw(dataContext.AddInputField<OscEvents>("AverageMagnitudeBand4"))
        </div>
        <div class="col-md-3">
            @Raw(dataContext.AddInputField<OscEvents>("TriggeringMagnitudeBand1"))
            @Raw(dataContext.AddInputField<OscEvents>("TriggeringMagnitudeBand2"))
            @Raw(dataContext.AddInputField<OscEvents>("TriggeringMagnitudeBand3"))
            @Raw(dataContext.AddInputField<OscEvents>("TriggeringMagnitudeBand4"))
        </div>
    </div>
    <div class="row">
        <hr style="margin:0 15px 15px 15px; border-top: 2px solid #ddd"/>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Raw(dataContext.AddTextAreaField<OscEvents>("Notes", 8, initialFocus: true))
        </div>
    </div>

}
@Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
@section Scripts {
    <script src="@Resources.Root/Shared/Scripts/moment.js"></script>

    <script>    
        @Raw(dataContext.RenderViewModelConfiguration<OscEvents, DataHub>(ViewBag, "-StartTime", null, parentID))

        @if (parentID == 0 && !string.IsNullOrWhiteSpace(parentSource)) {
        <text>
            $(function() {
                $("#searchFilter").val("@parentSource");
                $("#searchFilter").keyup();
            });
        </text>
        }

        function frequency(record) {
            const details = [];

            if (record.FrequencyBand1)
                details.push(`${record.FrequencyBand1.toFixed(4)} (Band1)`);

            if (record.FrequencyBand2)
                details.push(`${record.FrequencyBand2.toFixed(4)} (Band2)`);

            if (record.FrequencyBand3)
                details.push(`${record.FrequencyBand3.toFixed(4)} (Band3)`);

            if (record.FrequencyBand4)
                details.push(`${record.FrequencyBand4.toFixed(4)} (Band4)`);

            return details.join("<br/>");
        }

        function magnitude(record) {
            const details = [];

            if (record.AverageMagnitudeBand1)
                details.push(`${record.AverageMagnitudeBand1.toFixed(1)} (Band1)`);

            if (record.AverageMagnitudeBand2)
                details.push(`${record.AverageMagnitudeBand2.toFixed(1)} (Band2)`);

            if (record.AverageMagnitudeBand3)
                details.push(`${record.AverageMagnitudeBand3.toFixed(1)} (Band3)`);

            if (record.AverageMagnitudeBand4)
                details.push(`${record.AverageMagnitudeBand4.toFixed(1)} (Band4)`);

            return details.join("<br/>");
        }

        function getAssociatedCount(eventID) {
            if (viewModel.dataHubIsConnected()) {
                dataHub.queryAssociatedEventCount(eventID).done(function (count) {
                    $("#associatedCount" + eventID).html(`&nbsp;${count}&nbsp;others&nbsp;`);
                });
            }

            return "&nbsp;0&nbsp;others&nbsp;";
        }

        function openAssociated(record) {
            if (@parentID === 0) {
                location.href = `OscEvents.cshtml?parentID=${record.ID}`;
            } else {
                location.href = `OscEvents.cshtml?source=${encodeURIComponent("@parentSource")}`;
            }
        }

        function viewDashboard(record) {
            window.open(`@Model.Global.OscDashboard&var-Source=${encodeURIComponent(record.Source)}&from=${moment.utc(record.StartTime, "YYYY-MM-DDTHH:mm:ssZ").valueOf()}&to=${moment.utc(record.StopTime, "YYYY-MM-DDTHH:mm:ssZ").valueOf()}`, '_blank');
        }

        function fixed(value, length, band) {
            if (value)
                return value.toFixed(length);

            return "(no event in Band" + band + ")";
        }

        function downloadDetails(record) {
            var details = "Oscillation Event Report\r\n";
            details += "------------------------\r\n";
            details += `Source: ${record.Source}\r\n`;
            details += `Duration: ${record.StartTime} to ${record.StopTime}\r\n\r\n`;

            details += `Band1 Frequency: ${fixed(record.FrequencyBand1, 4, 1)}\r\n`;
            details += `Band1 Triggering MW Swing Peak-to-Peak: ${fixed(record.TriggeringMagnitudeBand1, 1, 1)}\r\n`;
            details += `Band1 Maximum MW Swing Peak-to-Peak: ${fixed(record.MaximumMagnitudeBand1, 1, 1)}\r\n`;
            details += `Band1 Average MW Swing Peak-to-Peak: ${fixed(record.AverageMagnitudeBand1, 1, 1)}\r\n\r\n`;

            details += `Band2 Frequency: ${fixed(record.FrequencyBand2, 4, 2)}\r\n`;
            details += `Band2 Triggering MW Swing Peak-to-Peak: ${fixed(record.TriggeringMagnitudeBand2, 1, 2)}\r\n`;
            details += `Band2 Maximum MW Swing Peak-to-Peak: ${fixed(record.MaximumMagnitudeBand2, 1, 2)}\r\n`;
            details += `Band2 Average MW Swing Peak-to-Peak: ${fixed(record.AverageMagnitudeBand2, 1, 2)}\r\n\r\n`;

            details += `Band3 Frequency: ${fixed(record.FrequencyBand3, 4, 3)}\r\n`;
            details += `Band3 Triggering MW Swing Peak-to-Peak: ${fixed(record.TriggeringMagnitudeBand3, 1, 3)}\r\n`;
            details += `Band3 Maximum MW Swing Peak-to-Peak: ${fixed(record.MaximumMagnitudeBand3, 1, 3)}\r\n`;
            details += `Band3 Average MW Swing Peak-to-Peak: ${fixed(record.AverageMagnitudeBand3, 1, 3)}\r\n\r\n`;

            details += `Band4 Frequency: ${fixed(record.FrequencyBand4, 4, 4)}\r\n`;
            details += `Band4 Triggering MW Swing Peak-to-Peak: ${fixed(record.TriggeringMagnitudeBand4, 1, 4)}\r\n`;
            details += `Band4 Maximum MW Swing Peak-to-Peak: ${fixed(record.MaximumMagnitudeBand4, 1, 4)}\r\n`;
            details += `Band4 Average MW Swing Peak-to-Peak: ${fixed(record.AverageMagnitudeBand4, 1, 4)}\r\n\r\n`;

            details += `Notes: ${record.Notes}\r\n`;

            downloadString(details, "text/plain", `EventReport_${record.Source}.txt`);
        }

        function downloadString(text, fileType, fileName) {
            const blob = new Blob([text], { type: fileType });
            const a = document.createElement("a");
            a.download = fileName;
            a.href = URL.createObjectURL(blob);
            a.dataset.downloadurl = [fileType, a.download, a.href].join(":");
            a.style.display = "none";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            setTimeout(function () { URL.revokeObjectURL(a.href); }, 1500);
        }
    </script>
}