@*******************************************************************************************************
//  TrendMeasurements.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  07/30/2016 - Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Text
@using GSF.Web.Model
@using openHistorian
@using openHistorian.Model
@inherits ExtendedTemplateBase<AppModel>
@section StyleSheets {
    <style>
        html, body {
            height: 100%;
        }

        .tabs-nohdr {
            padding: 0;
            background: none;
            border-width: 0;
        }
         
        .tabs-nohdr .ui-tabs-nav {
            padding: 0;
            background: transparent;
            border: none;
        }

        .tabs-nohdr .ui-tabs-panel {
            border: none;
            padding: 0;
            margin: 0;
        }

        /* Collapsable button style */
        .btn-collapsable.btn {
            color: #606060;
            font-family: "Glyphicons Halflings";
            font-size: 8pt;
            margin-top: 3px;
            margin-left: -137px;
            padding: 0 2px 2px 2px;
            height: 18px;
            -webkit-transition: all .75s ease-out;
            -moz-transition: all .75s ease-out;
            transition: all .75s ease-out;
        }

        .btn-collapsable.btn.collapsed {
            margin-top: 7px;
            margin-left: -130px;
            -webkit-transition: all .75s ease-out;
            -moz-transition: all .75s ease-out;
            transition: all .75s ease-out;
        }

        /* Collapsable button icon when content is shown - arrow down */
        .btn-collapsable.btn:after {
            content: "\e114";
        }

        /* Collapsable button icon when content is hidden - arrow right */
        .btn-collapsable.btn.collapsed:after {
            content: "\e080";
        }

        #scrollablePointsArea {
            overflow: -moz-scrollbars-vertical; 
            overflow-y: scroll;
        }

        #selectAllMessage {
            position: absolute;
            margin-top: 8px;
            margin-left: 15px;
            font-size: smaller;
            outline: none;
        }

        #selectAllMessage a {
            color: #337ab7;
            text-decoration: none;
        }

        #selectAllMessage a:active, a:hover, a:focus {
            color: #23527c;
            text-decoration: underline;
            cursor: pointer;
        }

        span.fixed-font {
            font-size: small;
            font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        }
    </style>
}
@{ 
    DataContext dataContext = ViewBag.DataContext;
    StringBuilder pageControlScripts = ViewBag.PageControlScripts;

    Layout = "Layout.cshtml";
    ViewBag.Title = "Trend Measurements";
    ViewBag.AddNewEditTitle = "Measurement Detail";
    ViewBag.ShowSearchFilter = true;
    ViewBag.HideUnauthorizedControls = true;
    ViewBag.CanEdit = false;
    ViewBag.CanAddNew = false;
    ViewBag.CanDelete = false;

    ViewBag.HeaderColumns = new[]
    {   //    { "Field", "Label", "Classes" }
        new[] { null, "<input type='checkbox' id='selectAllCheckbox' title='Select All'/>", "text-center valign-middle" },
        new[] { "PointID", "ID", "text-center" },
        new[] { "PointTag", "Tag&nbsp;Name", "text-left" },
        new[] { "Description", "Description", "text-left" }
    };

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.PageRecordsForEachBinding = "afterRender: postRecordRendering";

    // Prepend view model extension scripts to occur before model initialization
    pageControlScripts.Insert(0, ExtendedViewModel().ToString().TrimStart());
}
@helper BodyRows()
{
    <td width="5%" class="text-center valign-middle"><input type="checkbox" /></td>
    <td width="5%" class="text-center valign-middle"><span data-bind="text: PointID"></span></td>
    <td width="30%" class="text-left valign-middle table-cell-wrap"><span data-bind="attr: { title: PointTag }"><button type="button" class="btn btn-link" data-bind="text: PointTag.truncate(30), click: $parent.viewPageRecord"></button></span></td>
    <td width="55%" class="text-left table-cell-wrap"><div data-bind="text: $($element.parentElement).truncateToWidth(Description, 2), attr: { title: Description }"></div></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" title="View Measurement Detail..." data-bind="click: $parent.viewPageRecord, enable: $parent.dataHubIsConnected"><span class="glyphicon glyphicon-list"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    <div class="col-md-6">
        @Raw(dataContext.AddInputField<Measurement>("PointID", customDataBinding: "disable: true"))
        @Raw(dataContext.AddInputField<Measurement>("SignalID", customDataBinding: "disable: true"))
        @Raw(dataContext.AddSelectField<Measurement, Historian>("HistorianID", "ID", "Acronym"))
        @Raw(dataContext.AddSelectField<Measurement, Device>("DeviceID", "ID", "Acronym"))
        @Raw(dataContext.AddInputField<Measurement>("PointTag", initialFocus: true))
        @Raw(dataContext.AddInputField<Measurement>("AlternateTag"))
        @Raw(dataContext.AddSelectField<Measurement, SignalType>("SignalTypeID", "ID", "Acronym"))
    </div>
    <div class="col-md-6">
        @Raw(dataContext.AddTextAreaField<Measurement>("Description", 4))
        @Raw(dataContext.AddInputField<Measurement>("SignalReference"))
        @Raw(dataContext.AddInputField<Measurement>("Adder"))
        @Raw(dataContext.AddInputField<Measurement>("Multiplier"))
        @Raw(dataContext.AddInputField<Measurement>("PhasorSourceIndex"))
        @Raw(dataContext.AddCheckBoxField<Measurement>("Internal"))
        @Raw(dataContext.AddCheckBoxField<Measurement>("Subscribed"))
        @Raw(dataContext.AddCheckBoxField<Measurement>("Enabled"))
    </div>
}
@helper ExtendedViewModel()
{
    <script>
        function postRecordRendering(elements, sequenceRecord) {
            const checkbox = $(elements).find("input[type=checkbox]");

            if (!checkbox)
                return;

            checkbox.click(function() {
                const record = viewModel.pageRecords()[checkbox.parents("tr")[0].rowIndex - 1];

                if (checkbox[0].checked)
                    viewModel.addNewSelectedPointByRecord(record);
                else
                    viewModel.deleteSelectedPointByRecord(record);

                $("#selectAllMessage").invisible();

                setTimeout(function() {
                    checkbox[0].checked = false;
                }, 250);
            });

            // Allow up/down arrow keys to change focus between each row's checkbox
            checkbox.keydown(function(event) {
                if (event.which === 38) {
                    // Arrow up
                    const previousIndex = $(event.target).parents("tr")[0].rowIndex - 1;

                    if (previousIndex >= 0) {
                        const previous = $("#recordsTable").find("input[type=checkbox]:eq(" + previousIndex + ")");

                        if (!$.isEmptyObject(previous))
                            previous.focus();
                    }

                } else if (event.which === 40) {
                    // Arrow down
                    const nextIndex = $(event.target).parents("tr")[0].rowIndex + 1;

                    if (nextIndex <= viewModel.currentPageSize()) {
                        const next = $("#recordsTable").find("input[type=checkbox]:eq(" + nextIndex + ")");

                        if (!$.isEmptyObject(next))
                            next.focus();
                    }
                }
            });
        }

        function ExtendedViewModel() {
            const self = this;

            PagedViewModel.call(self);

            self.selectedPoints = ko.observableArray();

            self.addNewSelectedPoint = function(id, tag) {
                if (!self.selectedPoints().any(function(point) { return point.id === id }))
                    self.selectedPoints.push({ id: id, tag: tag });
            }

            self.deleteSelectedPoint = function(point) {
                self.selectedPoints.remove(point);
            }

            self.refreshSelectedPoints = function() {
                const points = self.selectedPoints();
                self.clearSelectedPoints();
                self.selectedPoints(points);
            }

            self.clearSelectedPoints = function() {
                self.selectedPoints([]);
            }

            self.addNewSelectedPointByRecord = function(record) {
                self.addNewSelectedPoint(record.PointID, record.PointTag);
            }

            self.deleteSelectedPointByRecord = function(record) {
                self.selectedPoints().any(function(point) {
                    if (point.id === record.PointID)
                        self.deleteSelectedPoint(point);
                });
            }
        }

        function extendViewModel(event, data) {
            const newViewModel = new ExtendedViewModel();
            data.viewModel.cloneConfiguration(newViewModel);
            data.viewModel = newViewModel;
        }

        $(window).on("beforeApplyBindings", extendViewModel);
    </script>
}
@section Scripts {
    <script src="Scripts/flot/jquery.flot.js"></script>
    <script src="Scripts/flot/jquery.flot.crosshair.js"></script>
    <script src="Scripts/flot/jquery.flot.navigate.js"></script>
    <script src="Scripts/flot/jquery.flot.resize.js"></script>
    <script src="Scripts/flot/jquery.flot.selection.js"></script>
    <script src="Scripts/flot/jquery.flot.time.js"></script>
    <script src="Scripts/flot/jquery.flot.axislabels.js"></script>
    <script>        
        "use strict";

        @Raw(dataContext.RenderViewModelConfiguration<Measurement, DataHub>(ViewBag, "PointTag"))
        //var plot;
        //var plotData = [];

        //function buildPlot(data) {
        //    $.each(data, function (i, d) {
        //        for (var j in plotData) {
        //            if (plotData[j].label == d.ID) {
        //                plotData[j].data.push([d.Timestamp, d.Value]);
        //            }
        //        }
        //    });

        //    plot = $.plot("#placeholder", plotData, {
        //        series: {
        //            shadowSize: 0
        //        },
        //        yaxes: [{
        //            show: true,
        //            position: "left",
        //            axisLabel: "Frequency"
        //        }, {
        //            show: true,
        //            position: "left",
        //            axisLabel: "Voltage"
        //        }, {
        //            show: true,
        //            position: "right",
        //            axisLabel: "Current"
        //        }, {
        //            show: true,
        //            position: "right",
        //            axisLabel: "Angle"
        //        }

        //        ],
        //        xaxis: {
        //            mode: "time",
        //            timeformat: "%H:%M:%S",
        //            timezone: "browser"
        //        }//,
        //        //legend: {
        //        //    show: true,
        //        //    container: $('#legend'),
        //        //    labelFormatter: function (label, series) {
        //        //        for (var i in measurementDetails) {
        //        //            if (measurementDetails[i].SignalID == label)
        //        //                return measurementDetails[i].SignalReference.split("!")[measurementDetails[i].SignalReference.split("!").length - 1] + " - " + measurementDetails[i].SignalAcronym;
        //        //        }

        //        //    },
        //        //    noColumns: 1,
        //        //    margin: 5
        //        //}
        //    });
        //}

        var baseCalculateRemainingBodyHeight;

        // Override remaining body height calculation to include new tab rows
        var calculateRemainingBodyHeight = (function() {
            baseCalculateRemainingBodyHeight = calculateRemainingBodyHeight;

            return function() {
                return baseCalculateRemainingBodyHeight() - $("#tabs ul").outerHeight(true);
            }
        })();

        function getActiveTab() {
            return $("#tabs").tabs("option", "active");
        }

        function resizeSelectedPointsArea(refreshPageSize) {
            if (refreshPageSize === undefined)
                refreshPageSize = false;

            setTimeout(function() {
                const selectedPointsArea = $("#selectedPointsArea");

                if (getActiveTab() === 0)
                    selectedPointsArea.height($("#tabs").height() - 12);
                else
                    selectedPointsArea.height(baseCalculateRemainingBodyHeight());

                $("#scrollablePointsArea").height(selectedPointsArea.height() - $("#selectedPointsHeader").outerHeight(true) - 5);
            }, 300);

            const selectedPointsColumn = $("#selectedPointsColumn");

            if (selectedPointsColumn.hasClass("in")) {
                let areaWidth = $("#bodyContainer").innerWidth() * 0.2;

                if (areaWidth < 150)
                    areaWidth = 150;

                selectedPointsColumn.width(areaWidth);

                if (refreshPageSize) {
                    setTimeout(function () {
                        viewModel.calculatePageSize();
                        viewModel.refreshSelectedPoints();
                    }, 100);
                }
            }
        }

        function selectAllRecords() {
            $("#selectAllMessage").invisible();
            $("#tabs").tabs({ active: 0 });
            $("a[href='#tab1']").parent().focus();
        }

        $(function() {
            $("#tabs").tabs({
                active: 0,
                activate: function(event, ui) {
                    switch (ui.newPanel.attr("id")) {
                        case "tab1":
                            viewModel.calculatePageSize();
                            break;
                        case "tab2":
                            break;
                        case "tab3":
                            break;
                    }

                    resizeSelectedPointsArea();
                }
            });

            $("#selectedPointsColumn").on("shown.bs.collapse", function() {
                resizeSelectedPointsArea(true);
            });

            $(viewModel).on("pageSizeCalculated", function() {
                resizeSelectedPointsArea(false);
            });

            $(window).resize(resizeSelectedPointsArea);

            resizeSelectedPointsArea();

            const selectAllCheckbox = $("#selectAllCheckbox");

            selectAllCheckbox.click(function() {
                const checked = selectAllCheckbox[0].checked;

                for (let i = 0; i < viewModel.pageRecords().length; i++) {
                    const next = $("#recordsTable").find("input[type=checkbox]:eq(" + (i + 1) + ")");

                    if (!$.isEmptyObject(next)) {
                        if (next[0].checked !== checked)
                            next.click();
                    }                                             
                }
        
                if (viewModel.totalPages() > 1)
                    $("#selectAllMessage").visible();

                setTimeout(function() {
                    selectAllCheckbox[0].checked = false;
                }, 250);
            });

            selectAllCheckbox.keydown(function(event) {
                if (event.which === 40) {
                    // Arrow down
                    if (viewModel.currentPageSize() > 0) {
                        const next = $("#recordsTable").find("input[type=checkbox]:eq(1)");

                        if (!$.isEmptyObject(next))
                            next.focus();
                    }
                }
            });

            ko.watch(viewModel.currentPage, function(parents, child, item) {
                $("#selectAllMessage").invisible();
            });

            //$(viewModel).on("pageRecordsQueried", function() {
            //    viewModel.pageRecords().forEach(function(record) {
            //        viewModel.addNewSelectedPoint(record);
            //    });
            //});
        });
    </script>
}
<table>
    <tr>
        <td id="selectedPointsColumn" style="width: 20%; vertical-align: top; padding-right: 3px" class="collapse in">
            <div id="selectedPointsArea" class="well" style="padding: 5px">
                <div id="selectedPointsHeader" class="clearfix">
                    Selected Points&nbsp;<span data-bind="text: selectedPoints().length"></span><br/>
                    <button type="button" class="btn btn-sm pull-right" data-bind="click: clearSelectedPoints.bind($data)">Clear All</button>
                </div>
                <div id="scrollablePointsArea">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tbody data-bind="foreach: selectedPoints">
                            <tr>
                                <td style="width: 5%" class="text-center valign-middle" data-bind="text: id"></td>
                                <td style="width: 90%" class="table-cell-hard-wrap"><span class="fixed-font" data-bind="text: $($element.parentElement).truncateToWidth(tag, 2.25), attr: {title: tag}"></span></td>
                                <td style="width: 5%" class="text-center valign-middle"><button type="button" class="btn btn-xs" title="Unselect Point" data-bind="click: $parent.deleteSelectedPoint"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
        <td style="width: 80%; vertical-align: top">
            <div id="tabs" class="tabs-nohdr">
                <ul>
                    <li>
                        <button type="button" class="btn btn-xs btn-collapsable" data-toggle="collapse" data-target="#selectedPointsColumn"></button>
                        <a href="#tab1">Select Points</a>
                    </li>
                    <li><a href="#tab2">Trend Data</a></li>
                    <li>
                        <a href="#tab3">Export Data</a>
                        <span id="selectAllMessage" style="visibility: hidden">Selected <span data-bind="text: pageRecords().length"></span> points on the current page, <a class="active" onclick="selectAllRecords()">click here</a> to select all <span data-bind="text: recordCount"></span> points on all pages.</span>
                    </li>
                </ul>
                <div id="tab1" class="ui-tabs-active">
                    @Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
                </div>
                <div id="tab2">
                    <div id="placeholder" style="width: 100%;"></div>
                </div>
                <div id="tab3">
                </div>
            </div>
        </td>
    </tr>
</table>